# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
/.pnp
.pnp.js

# Production build
dist/
build/
server/dist/
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Audio/Video scratch recordings
*.wav
*.webm
*.pcm
